asgiref==3.11.1
blinker==1.9.0
click==8.3.1
colorama==0.4.6
comtypes==1.4.13
Django==5.2.11
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyjokes==0.8.3
pypiwin32==223
pyttsx3==2.99
pywin32==311
sqlparse==0.5.5
tzdata==2025.3
Werkzeug==3.1.4
